#hed{
	width:400px;
	margin:30px 0 30px calc(50% - 200px);
	text-align:center;
	font-size:30px;
}
#timetable{
	width:100%;
	border-collapse: collapse;
	table-layout:fixed;
	min-width:1100px;
}
#timetable td{
	border: 1px solid black;
	overflow:hidden;
	padding:5px 0;
}
#timetable tbody{
	border: 2px solid white;
}
tr td:first-child{
	text-align:right;
	padding-right:5px !important;
	width:10%;
}
tr td:not(:first-child){
	text-align:center;
}
tr:first-child td:first-child{
	text-align:center;
}
